body {
    padding: 0px;
}

navbar-header {
    height: 50px;
    text-shadow: 2px 2px 20px red;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #036918;
}

nav .navbar-default {
    background-color: red;
}

.navbar-right {
    display: flex;
    justify-content: space-around;
}

#myNavbar ul li a {
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #044A91;
}

    #myNavbar ul li a:hover, #myNavbar ul li a:focus {
        border-bottom: 5px solid #036918;
        color: #036918;
    }
